body {

}
.field-validation-error{
    color: red;
    display: block;
}


.imagens .btn-imagem-excluir {
    width: 100% !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;    
}

.imagens .col-md-2 {
    margin-bottom: 30px;
}

.imagens .btn-ocultar {
    display: none;
}

.imagens .div{
    text-align: center;
}

.imagens .img-thumbnail{
    width: 100%;
}

.imagens .input-file {
    display: none;
}

.imagens .img-upload {
    cursor: pointer;
}

.imagens input[name=imagem]{
    display: none;
}
